* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: museo-sans, sans-serif;
}

body {
    background-color: #FEFEFE;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-color: #026786;
}

.body {
  padding-bottom: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container ul>li {
  display: flex;
  justify-content: space-between;
}

.container-index {
  font: 700 22px museo-sans, sans-serif;
}

ul li {
  list-style-type: none;
  padding: 5px;
}

/* Dropdown for mobile */
.dropdown-menu {
  display: none;
}

.dropdown-toggle {
  font-size: 18px;
  font-weight: bold;
  color: #4A4A4A;
  background: none;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  position: relative; /* For absolute positioning of the dropdown arrow */
}

/* Dropdown arrow icon styling */
.dropdown-arrow {
  position: absolute;
  right: 10px; /* Align icon to the right-most corner with padding */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  transition: transform 0.3s ease; /* Smooth rotation */
}

.dropdown-arrow.open {
  transform: translateY(-50%) rotate(180deg); /* Rotate arrow when dropdown is open */
}

.dropdown-list {
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

.dropdown-list li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

/* Desktop list */
.desktop-list {
  display: flex;
  flex-direction: column;
}

.plans {
  display: flex;
}

.card {
  padding: 10px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 4%;
  cursor: pointer;
  background-color: rgb(252, 252, 252);
  transition: background-color 0.3s;
  max-width: 240px;
}

.card.selected {
  background-color: rgb(242, 250, 252);
  border: 1px solid rgb(139, 211, 230);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.submission-footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  padding: 10px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 10px 70px;
  color: #00a2ad;
  border: 1px solid #00a2ad;
  border-radius: 4px;
  background-color: #ffe582;
  text-align: center;
  cursor: pointer;
  margin: 5px 225px 5px auto;
}

.button:hover {
  color: var(--font-color);
  border-color: var(--font-color );
  background-color: #FFCD05;
}

.section {
  padding: 10px;
  cursor: pointer;
}

.completed {
  color: var(--font-color);
  font: 700 22px/24px "Museo Sans Rounded", sans-serif;
}

.current {
  color: #00A3AD;
  border-left: #00A3AD 2px solid;
  font: 900 22px "Museo Sans Rounded", sans-serif;
}

.upcoming {
  color: #B2B2B2;
  font: 500 22px/24px "Museo Sans Rounded", sans-serif;
}


/* Mobile Styles */
@media (max-width: 768px) {
  .dropdown-menu {
    display: block;
  }

  .desktop-list {
    display: none;
  }
}