* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: museo-sans, sans-serif;
}

body {
    background-color: #FEFEFE;
}

:root {
  --font-color: #026786;
}

.body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container ul>li {
  padding: 10px;
}

ul li {
  list-style-type: none;
  padding: 5px;
}

.plans {
  display: flex;
}

.card {
  padding: 10px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 4%;
  cursor: pointer;
  background-color: rgb(252, 252, 252);
  transition: background-color 0.3s;
}

.card.selected {
  background-color: rgb(242, 250, 252);
  border: 1px solid rgb(139, 211, 230);
}

.footer {
  width: 100%;
}

.submission-footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: flex-end;
  ;
}

.button {
  padding: 5px 50px;
  color: #00a2ad;
  border: 1px solid #00a2ad;
  background-color: #ffe582;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  margin-left: auto;
}

.button:hover {
  color: var(--font-color);
  border-color: var(--font-color );
  background-color: #FFCD05;
}

.section {
  padding: 10px;
  cursor: pointer;
}

.completed {
  color: var(--font-color);
}

.current {
  color: #00A3AD;
  border-left: #00A3AD 2px solid;
}

.upcoming {
  color: #B2B2B2;
}